extends src/templates/layout.pug

block variables
  - var pageTitle = 'Electric Bikes & Surrons - Greens Repairs Ltd'
  - var metaDescription = 'Browse electric bikes and Surron electric dirt bikes. Surron Light Bee, Ultra Bee, Storm Bee and e-bikes from Specialized, Trek, Cube. Manchester.'
  - var ogTitle = 'Electric Bikes & Surrons - Greens Repairs Ltd'
  - var ogDescription = 'Premium Surron electric dirt bikes and e-bikes, new and serviced, ready to ride.'
  - var ogImage = '/images/bikes/bike-01.jpg'

block content
  //- Hero Section
  section.hero.hero-shop
    .hero-overlay
    .hero-container
      .hero-content
        .hero-badge
          i.fas.fa-bolt
          span Electric Range
        h1.hero-title
          | Electric Bikes
          br
          span.highlight & Surrons
        p.hero-description
          | Surron electric dirt bikes and top-brand e-bikes. 
          | New and expertly serviced, ready to ride.
        .hero-buttons
          a.btn.btn-hero-primary(href='#bikes')
            span Browse Electric Bikes
            i.fas.fa-arrow-down
    .hero-scroll
      i.fas.fa-chevron-down

  //- Bikes Grid
  section.bikes-section#bikes
    .container
      .bikes-grid#bikesGrid
        //- Bikes will be loaded here by JavaScript

      //- Pagination
      .pagination#pagination
        //- Pagination will be loaded here by JavaScript

  include src/components/footer.pug

block append scripts
  script(type='module' src='/js/shop.js')
