doctype html
html(lang='en')
  block variables
  - var base = typeof basePath !== 'undefined' ? basePath : '/'
  include ../components/head.pug
  
  body
    include ../components/header.pug
    
    #smooth-wrapper
      #smooth-content
        block content
    
    include ../components/scripts.pug
    block scripts
