footer.footer
  .container
    .footer-content
      .footer-section
        img.footer-logo(src='/images/site-logo-cropped.png' alt='Greens Repairs Ltd')
        p Quality refurbished bikes and expert repair services in Manchester.
      .footer-section
        h4 Quick Links
        ul
          li
            a(href='/') Home
          li
            a(href='/shop.html') Shop Bikes
          li
            a(href='/contact.html') Contact
      .footer-section
        h4 Contact Information
        ul.contact-info
          li
            i.fas.fa-phone
            |  +44 7402 665293
          li
            i.fas.fa-envelope
            |  Greens.repairs9@outlook.com
          li
            i.fas.fa-map-marker-alt
            |  5 Hollinsclough Close
            br
            | Manchester M22 4HS
    .footer-bottom
      p &copy; 2026 Greens Repairs Ltd. Company Registration: 16976747. Registered in England, Manchester.
