nav.navbar
  .container
    .nav-wrapper.flex.items-center.justify-between
      a.logo.logo-outer-wrapper(href='/' aria-label='Greens Repairs Ltd Home')
        img(src='/images/site-logo-cropped.png' alt='Greens Repairs Ltd')
      button.fold-out-menu-toggle(
        aria-label='Toggle navigation menu'
        aria-expanded='false'
        aria-controls='main-navigation'
      )
        span.hamburger-icon(aria-hidden='true')
          span.hamburger-line
          span.hamburger-line
          span.hamburger-line
        span.sr-only Menu

.fold-out-menu.full-screen-menu(id='main-navigation' role='navigation' aria-label='Main Navigation')
  ul.fold-out-menu-list
    li.fold-out-menu-item
      a(href='/' aria-label='Go to home page') Home
    li.fold-out-menu-item
      a(href='/shop.html' aria-label='Browse refurbished bikes') Shop Bikes
    li.fold-out-menu-item
      a(href='/contact.html' aria-label='Contact us') Contact
