//- Main script (GSAP imported via npm in the JS file)
- var base = typeof basePath !== 'undefined' ? basePath : '/'
script(type='module' src=`${base}js/script.js`)
if additionalScripts
  each script in additionalScripts
    script(src=script)
